<!--Start contruct-info area-->
<section class="contruct-info" style="background-image: url(images/resource/8a.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-12 col-xs-12">
        <div class="text-holder text-center">
          <h2>Unhappy with your current product supplier?</h2>
          <h4>Contact Acentus today and we'll get started on your transition to better care.</h4>
        </div>
      </div>
      <div class="col-lg-7 col-sm-12 col-xs-12">
        <div class="right-side text-center">
          <h3>Our team of professionals has the expertise to help.</h3>
          <ul>
            <li><a href="contact-us"><span>Contact Us</span></a>
            </li>
            <li>Email us
              <a href="#">
                <span>service@acentus365.com</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End contruct-info area-->
