<!--Start footer area-->
<footer class="footer-area">
  <div class="container">
    <div class="row">
      
      <!--Start single footer widget-->
      <div class="col-md-2">
        <div class="single-footer-widget mar-btm right">
          <div class="title">
            <h3>Site Map</h3>
          </div>
          <ul class="usefull-links left">
            <li>
              <i class="fa fa-caret-right" aria-hidden="true"></i>
              <a href="index">Home</a>
            </li>
            <li>
              <i class="fa fa-caret-right" aria-hidden="true"></i>
              <a href="about-us">About Us</a>
            </li>
            <li>
              Products
            </li>
            <li>
              <i class="fa fa-caret-right" aria-hidden="true"></i>
              <a href="diabetes">Diabetes CGM</a>
            </li>
            <li>
              <i class="fa fa-caret-right" aria-hidden="true"></i>
              <a href="urological-catheters">Urological Catheters</a>
            </li>
            <li>
              <i class="fa fa-caret-right" aria-hidden="true"></i>
              <a href="wound-care">Wound Care</a>
            </li>
            <li>
              <i class="fa fa-caret-right" aria-hidden="true"></i>
              <a href="incontinence">Incontinence</a>
            </li>
            <li>
              <i class="fa fa-caret-right" aria-hidden="true"></i>
              <a href="medical-nutrition">Medical Nutrition</a>
            </li>
            <li>
              <i class="fa fa-caret-right" aria-hidden="true"></i>
              <a href="ostomy">Ostomy</a>
            </li>
            <li>
              <i class="fa fa-caret-right" aria-hidden="true"></i>
              <a href="compression-stockings">Compression Stockings</a>
            </li>
            <li>
                <i class="fa fa-caret-right" aria-hidden="true"></i>
                <a href="sensor-problems">Sensor Problems?</a>
              </li>
          </ul>
        </div>
      </div>
      <!--Start single footer widget-->

      <!--Start single footer widget-->
      <div class="col-md-2">
        <div class="single-footer-widget mar-btm right">
          <div class="title">
            <h3>&nbsp;</h3>
          </div>
          <ul class="usefull-links left">
            <li>
              <i class="fa fa-caret-right" aria-hidden="true"></i>
              <a href="resources">Resources</a>
            </li>
            <li>
              <i class="fa fa-caret-right" aria-hidden="true"></i>
              <a href="contact-us">Contact us</a>
            </li>
            <li>
              <i class="fa fa-caret-right" aria-hidden="true"></i>
              <a href="contact-us">Start Service</a>
            </li>
            <li>
              Referrals
            </li>
            <li>
              <i class="fa fa-caret-right" aria-hidden="true"></i>
              <a href="discharge-planner">Discharge Planner</a>
            </li>
            <li>
              <i class="fa fa-caret-right" aria-hidden="true"></i>
              <a href="case-manager">Case Manager</a>
            </li>
            <li>
              <i class="fa fa-caret-right" aria-hidden="true"></i>
              <a href="physicians-office">Physician's Office</a>
            </li>
          </ul>
        </div>
      </div>
      <!--Start single footer widget-->

      <!--Start single footer widget-->
      <div class="col-md-2">
        <div class="single-footer-widget contuct">
          <div class="title">
            <h3>Contact info</h3>
          </div>
          <ul class="instagram-feed-list">
            <li>
              <i class="fa fa-phone" aria-hidden="true"></i>866-684-2507</li>
            <li>
              <i class="fa fa-envelope-o" aria-hidden="true"></i>
              <a href="mailto:service@acentus365.com">service@acentus365.com</a>
            </li>
            <li>
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <a href="https://www.google.com/maps/place/4951+E+Adamo+Dr+%23220,+Tampa,+FL+33605/@27.951333,-82.4053643,17z/data=!3m1!4b1!4m5!3m4!1s0x88c2c59dbc5658c5:0x8fbf1c600705a2c2!8m2!3d27.951333!4d-82.4031756" target="_blank">
                4951-B E. Adamo Dr<br>
                <span>Suite 220</span><br>
                <span>Tampa, FL 33605-5913</span>
              </a>
            </li>
            <li>
              <i class="fa fa-clock-o" aria-hidden="true"></i>Mon - Fri: 8am to 5pm</li>
          </ul>
        </div>
      </div>
      <!--End single footer widget-->

      <!--Start single footer widget-->
      <div class="col-md-3">
        <div class="single-footer-widget mar-btm right">
          <div class="title">
            <h3>Regulatory Information</h3>
          </div>
          <ul class="usefull-links left">
            <li>
              <i class="fa fa-caret-right" aria-hidden="true"></i>
              <a href="https://survey.zohopublic.com/zs/cTiPJc" target="_blank">Customer Survey</a>
            </li>
            <li>
              <i class="fa fa-caret-right" aria-hidden="true"></i>
              <a href="downloads/v4_2025_HS_Home_Solutions_Affiliated_Covered_Entity.pdf">Notice of Privacy Practices</a>
            </li>
            <li>
              <i class="fa fa-caret-right" aria-hidden="true"></i>
              <a href="medicare-supplier-standards">Medicare Supplier Standards</a>
            </li>
            <li>
              <i class="fa fa-caret-right" aria-hidden="true"></i>
              <a href="warranty-coverage">Warranty Coverage</a>
            </li>
            <li>
                <i class="fa fa-caret-right" aria-hidden="true"></i>
                <a href="refund-return-cancellation-shipping">Refund/Return/Cancellation/Shipping Policy</a>
            </li>
            <li>
              <i class="fa fa-caret-right" aria-hidden="true"></i>
              <a href="regulatory-complaint">Regulatory Complaint Contacts</a>
            </li>
            <li>
              <i class="fa fa-caret-right" aria-hidden="true"></i>
              <a href="terms-and-conditions">Website Usage Terms and Conditions</a>
            </li>
          </ul>
        </div>
      </div>
      <!--End single footer widget-->

      <!--Start single footer widget-->
      <div class="col-md-2">
        <div class="single-footer-widget mar-btm right">
          <div class="title">
              <h3>Accreditations</h3>
          </div>
          <div class="certification">The Joint Commission (TJC)
            <a href="https://www.qualitycheck.org/quality-report/?bsnId=518247" target="_blank">
              <img src="images/logo/joint-commission.png" width="60%" alt="">
            </a>
          </div>
        </div>
      </div>
      <!--Start single footer widget-->

    </div>
  </div>
</footer>
<!--End footer area-->

<!--Start footer bottom area-->
<section class="footer-bottom-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="footer-bottom">
          <div class="copyright-text pull-left">
            <p class="copyright">© Copyrights 2018 Acentus.
              <a href="terms-and-conditions"><span>Terms of Use</span></a> &
              <a href="https://www.prism-medical.com/privacy-statement" target="_blank"><span>Privacy Policy</span></a>
            </p>
          </div>
          <div class="poweredby-text pull-right">
              <p> 
                
              </p>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End footer bottom area-->