<!--Start Top bar area -->
<section class="top-bar-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-sm-12 col-xs-12">
        <div class="left-side">
          <ul class="header-top">
            <li><i class="fa fa-phone" aria-hidden="true"></i><a href="contact-us">Contact Us</a></li>
            <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="#">service@acentus365.com</a></li>
            <li><i class="fa fa-server" aria-hidden="true"></i><a href="https://survey.zohopublic.com/zs/cTiPJc" target="_blank">Customer Survey</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 col-sm-12 col-xs-12">
        <div class="right-side clearfix">
          <div>
            <ul class="header-top">
              <li><a href="https://www.youtube.com/watch?v=MGOmi7-M3aY" target="_blank">CGM Referrals Done Right</a></li>
              <li><a href="https://referralsource.acentus365.com/" target="_blank">Referral Source Portal</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End Top bar area -->

<!--Start Top bar area -->
<section class="notification-bar-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="aligncenter">
          <ul class="header-top">
            <li><a target="_blank" href="https://patient.acentus365.com">Renew your supply order online. CLICK HERE</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="sensor-problems-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="aligncenter">
          <ul class="header-top">
            <li><a target="_blank" href="sensor-problems">My sensor isn't working or fell off. What do I do?</a></li></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <section class="emergency-bar-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="aligncenter">
          <ul class="header-top">
            <li>We're here for you: Important coronavirus updates. <a href="covid19">Learn more ></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!--End Top bar area -->

<!-- Main Header-->
<header class="main-header">

  <!--Header Lower-->
  <div class="header-lower">
    <div class="container">
      <div class="menu-bg">
        <div class="nav-outer clearfix">

          <div class="logo">
            <a href="index">
              <img src="images/logo/Acentus_Prism_Logo.PNG" alt="Acentus">
            </a>
          </div>
          <!-- Main Menu -->
          <nav class="main-menu">
            <div class="navbar-header">
              <!-- Toggle Button -->
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>

            <div class="navbar-collapse collapse clearfix">
              <ul class="navigation clearfix">
                <li class="home1">
                  <a href="index">Home</a>
                </li>

                <li class="aboutus1">
                  <a href="about-us">About Us</a>
                </li>

                <li class="faq1">
                    <a href="faq">FAQ</a>
                </li>

                <li class="dropdown products1">
                  <a href="#">Products</a>
                  <ul>
                    <li>
                      <a href="diabetes">Diabetes CGM</a>
                    </li>
                    <li>
                      <a href="urological-catheters">Urological Catheters</a>
                    </li>
                    <li>
                      <a href="wound-care">Wound Care</a>
                    </li>
                    <li>
                      <a href="incontinence">Incontinence</a>
                    </li>
                    <li>
                      <a href="medical-nutrition">Medical Nutrition</a>
                    </li>
                    <li>
                      <a href="ostomy">Ostomy</a>
                    </li>
                    <li>
                        <a href="compression-stockings">Compression Stockings</a>
                      </li>
                  </ul>
                </li>

                <li class="dropdown clinitians1">
                  <a href="#">Patient Referrals</a>
                  <ul>
                    <li>
                      <a href="platinum">Platinum Referral Program</a>
                    </li>
                    <li>
                      <a href="wound-care-center">Wound Care Center</a>
                    </li>
                    <li>
                      <a href="discharge-planner">Discharge Planner</a>
                    </li>
                    <li>
                      <a href="case-manager">Case Manager</a>
                    </li>
                    <li>
                      <a href="physicians-office">Physician's Office</a>
                    </li>
                  </ul>
                </li>
                
                <li class="resources1">
                  <a href="resources">Resources</a>
                </li>
                <li class="contactus1">
                  <a href="contact-us">Contact Us</a>
                </li>

              </ul>
            </div>
          </nav>
          <!-- Main Menu End-->

          <div class="btn-holder btnPay">
            <a href="payment" target="_blank">Make a Payment</a>
          </div>

        </div>
      </div>

    </div>
  </div>
  <!--End Header Lower-->

  <!--Sticky Header-->
  <div class="sticky-header">
    <div class="container clearfix">
      <!--Logo-->
      <div class="logo pull-left">
        <a href="index" class="img-responsive">
          <img src="images/logo/Acentus_Prism_Logo.PNG" alt="" title="">
        </a>
      </div>

      <!--Right Col-->
      <div class="right-col pull-right">
        <!-- Main Menu -->
        <nav class="main-menu">
          <div class="navbar-header">
            <!-- Toggle Button -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <div class="navbar-collapse collapse clearfix">
            <ul class="navigation clearfix">
              <li class="home2">
                <a href="index">Home</a>
              </li>

              <li class="aboutus2">
                <a href="about-us">About Us</a>
              </li>

              <li class="faq2">
                <a href="faq">FAQ</a>
              </li>

              <li class="dropdown products2">
                <a href="#">Products</a>
                <ul>
                  <li>
                    <a href="diabetes">Diabetes CGM</a>
                  </li>
                  <li>
                    <a href="urological-catheters">Urological Catheters</a>
                  </li>
                  <li>
                    <a href="wound-care">Wound Care</a>
                  </li>
                  <li>
                    <a href="incontinence">Incontinence</a>
                  </li>
                  <li>
                    <a href="medical-nutrition">Medical Nutrition</a>
                  </li>
                  <li>
                      <a href="ostomy">Ostomy</a>
                  </li>
                  <li>
                      <a href="compression-stockings">Compression Stockings</a>
                  </li>
                </ul>
              </li>

              <li class="dropdown clinitians2">
                <a href="#">Patient Referrals</a>
                <ul>
                  <li>
                    <a href="platinum">Platinum Referral Program</a>
                  </li>
                  <li>
                    <a href="wound-care-center">Wound Care Center</a>
                  </li>
                  <li>
                    <a href="discharge-planner">Discharge Planner</a>
                  </li>
                  <li>
                    <a href="case-manager">Case Manager</a>
                  </li>
                  <li>
                    <a href="physicians-office">Physician's Office</a>
                  </li>
                </ul>
              </li>

              <li class="resources2">
                <a href="resources">Resources</a>
              </li>
              <li class="contactus2">
                <a href="contact-us">Contact Us</a>
              </li>
              <li class="">
                <a href="https://prestonwoundcare.hmebillpay.com" target="_blank">Make a Payment?</a>
              </li>

            </ul>
          </div>
        </nav>
        <!-- Main Menu End-->
      </div>

    </div>
  </div>
  <div id="someDivId"></div>
  <!--End Sticky Header-->

</header>
<!--End Main Header-->

<script>
  var v = window.sharedVariable;
  if (v == "home") {
    $(".home1").addClass("current");
    $(".home2").addClass("current");
  }else if (v == "aboutus") {
    $(".aboutus1").addClass("current");
    $(".aboutus2").addClass("current");
  }else if (v == "faq") {
    $(".faq1").addClass("current");
    $(".faq2").addClass("current");
  }else if (v == "contactus"){
    $(".contactus1").addClass("current");
    $(".contactus2").addClass("current");
  }else if (v == "products"){
    $(".products1").addClass("current");
    $(".products2").addClass("current");
  }else if (v == "referrals"){
    $(".clinitians1").addClass("current");
    $(".clinitians2").addClass("current");
  }else if (v == "resources"){
    $(".resources1").addClass("current");
    $(".resources2").addClass("current");
  }

  //Submenu Dropdown Toggle
	if($('.main-header .navigation li.dropdown ul').length){
		$('.main-header .navigation li.dropdown').append('<div class="dropdown-btn"><span class="fa fa-angle-down"></span></div>');
		
		//Dropdown Button
		$('.main-header .navigation li.dropdown .dropdown-btn').on('click', function() {
			$(this).prev('ul').slideToggle(500);
		});
		
		//Disable dropdown parent link
		$('.navigation li.dropdown > a').on('click', function(e) {
			e.preventDefault();
		});
  }
  
</script>
