<!-- Phone/Fax/Email Component -->
<div class="row clearfix">
  <div class="col-lg-12 col-sm-12 col-xs-12 tab-side">
    <div class="text-holder">

      <!--Start contact area-->
      <section class="contact-area">
        <div class="container">
          
          <div class="contruct">
            
            <!--Phone-->
            <div class="row">
              <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="item one">
                  <i class="fa fa-phone" aria-hidden="true"></i>
                  <div class="taxt">
                    <h5>Diabetes CGM</h5>
                    <h4 style="color: #91B8DD">Phone: (866) 684-2507</h4>
                  </div>
                </div>
              </div>
            </div>

            <!--Phone-->
            <div class="row">
              <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="item one">
                  <div class="taxt">
                    <h5>Urological Catheters, Incontinence & Medical Nutrition</h5>
                    <h4 style="color: #91B8DD">Phone: (866) 684-2507</h4>
                  </div>
                </div>
              </div>
            </div>

            <!--Phone-->
            <div class="row">
              <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="item one">
                  <div class="taxt">
                    <h5>Wound Care & Compression Stockings</h5>
                    <h4 style="color: #91B8DD">Phone: (888) 619-6863</h4>
                  </div>
                </div>
              </div>
            </div>

            <div class="sp-extra"></div>

            <!--Fax-->
            <div class="row">
              <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="item one">
                  <i class="fa fa-fax" aria-hidden="true"></i>
                  <div class="taxt">
                    <h5>Diabetes CGM</h5>
                    <h4 style="color: #91B8DD">Fax: (866) 695-2183</h4>
                  </div>
                </div>
              </div>
            </div>

            <!--fax-->
            <div class="row">
              <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="item one">
                  <div class="taxt">
                    <h5>Urological Catheters, Incontinence & Medical Nutrition</h5>
                    <h4 style="color: #91B8DD">Fax: (866) 695-2183</h4>
                  </div>
                </div>
              </div>
            </div>

            <!--fax-->
            <div class="row">
              <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="item one">
                  <div class="taxt">
                    <h5>Wound Care & Compression Stockings</h5>
                    <h4 style="color: #91B8DD">Fax: (866) 509-9160</h4>
                  </div>
                </div>
              </div>
            </div>

            <div class="sp-extra"></div>

            <!--Email-->
            <div class="row">
              <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="item one small">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                  <div class="taxt">
                    <h5>Diabetes CGM</h5>
                    <h4 style="color: #91B8DD">diabetesCGMcare@acentus365.com</h4>
                  </div>
                </div>
              </div>
            </div>

            <!--Email-->
            <div class="row">
              <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="item one small">
                  <div class="taxt">
                    <h5>Urological Catheters, Incontinence</h5>
                    <h4 style="color: #91B8DD">continencecare@acentus365.com</h4>
                  </div>
                </div>
              </div>
            </div>

            <!--Email-->
            <div class="row">
              <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="item one small">
                  <div class="taxt">
                    <h5>Medical Nutrition</h5>
                    <h4 style="color: #91B8DD">nutritioncare@acentus365.com</h4>
                  </div>
                </div>
              </div>
            </div>

            <!--Email-->
            <div class="row">
              <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="item one small">
                  <div class="taxt">
                    <h5>Wound Care & Compression Stockings</h5>
                    <h4 style="color: #91B8DD">woundcare@acentus365.com</h4>
                  </div>
                </div>
              </div>
            </div>

            <div class="sp-extra"></div>
    
          </div>
        </div>
      </section>
      <!--End contact area-->
        
    </div>
  </div>
  <div class="col-lg-8 col-sm-12 col-xs-12">
    <div class="img-holder">

    </div>
  </div>
  <div class="col-lg-4 col-sm-12 col-xs-12">
    <div class="video-gallery">

    </div>
    <div class="btn-holder">
      
    </div>
  </div>
</div>
<!-- END Phone/Fax/Email Component-->