<!--Products area Section-->
<section class="statistics-area sp-one">
  <div class="container">
    <div class="sec-title text-center">
      <h2>We carry all the brand name products clinical care givers prefer for their patients</h2>
      <h4></h4>
    </div>
    <div class="row clearfix">
      <!--Right Column-->
      <div class="col-lg-12 col-sm-12 col-xs-12 right-column">
        <div class="inner-box">
          <!--Tabs Box-->
          <div class="tabs-box">
            <div class="row">
              <div class="col-lg-4 col-sm-12 col-xs-12">
                <!--Tab Buttons-->
                <div class="tab-buttons clearfix">
                  <a id="tabone" href="#tab-one" class="tab-btn active">Diabetes CGM</a>
                  <a id="tabtwo" href="#tab-two" class="tab-btn active">Urological Catheters</a>
                  <a id="tabthree" href="#tab-three" class="tab-btn">Wound Care</a>
                  <a id="tabfour" href="#tab-four" class="tab-btn">Incontinence</a>
                  <a id="tabfive" href="#tab-five" class="tab-btn">Medical Nutrition</a>
                  <a id="tabsix" href="#tab-six" class="tab-btn">Ostomy</a>
                  <a id="tabseven" href="#tab-seven" class="tab-btn">Compression Stockings</a>
                </div>
              </div>
              <div class="col-lg-8 col-sm-12 col-xs-12">
                <!--Tabs Content-->
                <div class="tab-content">

                  <!--Tab-->
                  <div class="tab active-tab" id="tab-one">
                    <div class="row clearfix">
                      <div class="col-lg-8 col-sm-12 col-xs-12">
                        <div class="img-holder">
                          <img src="images/products/diabetes2pic.png" alt="">
                        </div>
                      </div>
                      <div class="col-lg-4 col-sm-12 col-xs-12">
                        <div class="video-gallery">
                        </div>
                        <div class="btn-holder">
                          <a href="https://yourcgm.com">Do I Qualify?</a>
                        </div>
                      </div>
                      <div class="col-lg-12 col-sm-12 col-xs-12">
                        <div class="text-holder">
                          <h4>Diabetes CGM</h4>
                          <p>Accurate, consistent measurement of blood glucose levels is critical to managing diabetes-related complications. Continuous Glucose Monitoring (CGM) is a method to track glucose levels day and night, then utilizing that data to share with your doctor to optimize your diabetes plan of care. CGM is a small, wafer-like device typically worn discreetly on the arm that continuously tracks your blood glucose levels 24 hours a day. Acentus' New Client Coordinators will work with you and your doctor to navigate the clinical criteria required by Medicare and commercial insurance plan to see if you qualify for a CGM device.</p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!--Tab-->
                  <div class="tab" id="tab-two">
                    <div class="row clearfix">
                      <div class="col-lg-8 col-sm-12 col-xs-12">
                        <div class="img-holder">
                          <img src="images/products/urologypic.png" alt="">
                        </div>
                      </div>
                      <div class="col-lg-4 col-sm-12 col-xs-12">
                        <div class="video-gallery">
                        </div>
                        <div class="btn-holder">
                          <a href="contact-us">Start Service</a>
                        </div>
                      </div>
                      <div class="col-lg-12 col-sm-12 col-xs-12">
                        <div class="text-holder">
                          <h4>Urological Catheters</h4>
                          <p>No other medical products supplier has more experience understanding the unique needs of patients using catheters to manage their bladder function. Acentus's experienced team works with you and your urologist to find the right catheter for your individual needs and navigate the coverage criteria and documentation required by your insurance.</p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!--Tab-->
                  <div class="tab" id="tab-three">
                    <div class="row clearfix">
                      <div class="col-lg-8 col-sm-12 col-xs-12">
                        <div class="img-holder">
                          <img src="images/products/wound-care-pic.png" alt="">
                        </div>
                      </div>
                      <div class="col-lg-4 col-sm-12 col-xs-12">
                        <div class="video-gallery">
                        </div>
                        <div class="btn-holder">
                          <a href="contact-us">Start Service</a>
                        </div>
                      </div>
                      <div class="col-lg-12 col-sm-12 col-xs-12">
                        <div class="text-holder">
                          <h4>Wound Care</h4>
                          <p>Proper wound healing requires a team approach. Acentus understands the need to be in sync with you and your doctor to develop a plan of care that optimizes healing. Our New Client Coordinators are experts at coordinating the complicated documentation required by Medicare, Medicaid and commercial insurances while minimizing your out of pocket expenses.</p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!--Tab-->
                  <div class="tab" id="tab-four">
                    <div class="row clearfix">
                      <div class="col-lg-8 col-sm-12 col-xs-12">
                        <div class="img-holder">
                          <img src="images/products/incontinencepic.png" alt="">
                        </div>
                      </div>
                      <div class="col-lg-4 col-sm-12 col-xs-12">
                        <div class="video-gallery">
                        </div>
                        <div class="btn-holder">
                          <a href="contact-us">Start Service</a>
                        </div>
                      </div>
                      <div class="col-lg-12 col-sm-12 col-xs-12">
                        <div class="text-holder">
                          <h4>Incontinence</h4>
                          <p>Patients suffering from incontinence deserve respect, dignity and understanding. The Acentus team has years of experience helping clients who use incontinence products and navigating the complex coverage criteria and documentation required for insurance coverage of these supplies.</p> 
                        </div>
                      </div>
                    </div>
                  </div>

                  <!--Tab / Active Tab-->
                  <div class="tab" id="tab-five">
                    <div class="row clearfix">
                      <div class="col-lg-8 col-sm-12 col-xs-12">
                        <div class="img-holder">
                          <img src="images/products/medicalnutritionpic.png" alt="">
                        </div>
                      </div>
                      <div class="col-lg-4 col-sm-12 col-xs-12">
                        <div class="video-gallery">
                        </div>
                        <div class="btn-holder">
                          <a href="contact-us">Start Service</a>
                        </div>
                      </div>
                      <div class="col-lg-12 col-sm-12 col-xs-12">
                        <div class="text-holder">
                          <h4>Medical Nutrition</h4>
                          <p>Accurate, timely communication is vital to servicing patients who require medical nutrition products and equipment.  
                            <br> Acentus’s experienced staff has helped thousands of clients and referral sources navigate the complicated coverage criteria and documentation required by insurance for medical nutrition, enteral feeding pumps and supplies.</p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!--Tab-->
                  <div class="tab" id="tab-six">
                    <div class="row clearfix">
                      <div class="col-lg-8 col-sm-12 col-xs-12">
                        <div class="img-holder">
                          <img src="images/products/ostomypic.png" alt="">
                        </div>
                      </div>
                      <div class="col-lg-4 col-sm-12 col-xs-12">
                        <div class="video-gallery">
                        </div>
                        <div class="btn-holder">
                          <a href="contact-us">Start Service</a>
                        </div>
                      </div>
                      <div class="col-lg-12 col-sm-12 col-xs-12">
                        <div class="text-holder">
                          <h4>Ostomy</h4>
                          <p>Patients living with an ostomy require high quality, reliable products for everyday use. Acentus’s strong manufacturer relationships combined with comprehensive staff training assure each client we serve has the right product for their individual needs.</p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!--Tab-->
                  <div class="tab" id="tab-seven">
                    <div class="row clearfix">
                      <div class="col-lg-8 col-sm-12 col-xs-12">
                        <div class="img-holder">
                          <img src="images/products/compression-pic.png" alt="">
                        </div>
                      </div>
                      <div class="col-lg-12 col-sm-12 col-xs-12">
                        <div class="text-holder">
                          <h4>Compression Stockings</h4>
                          <p>Compression stockings come in a wide variety of sizes, lenths and brands that address specific conditions such as varicose veins and lymphoedemia. Acentus has helped thousands of customers who use these products find the right fit for their individual needs.
                            <br> <p>
                           
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--End Right Column-->
    </div>
  </div>
</section>
<!--End products area Section-->

<script>

  //Tabs Box / Jquery Tabs
  if ($('.tabs-box').length) {
    //Tabs
    $('.tabs-box .tab-btn').on('click', function (e) {
      e.preventDefault();
      var target = $($(this).attr('href'));
      $('.tabs-box .tab-btn').removeClass('active');
      $(this).addClass('active');
      $('.tabs-box .tab').fadeOut(0);
      $('.tabs-box .tab').removeClass('active-tab');
      $(target).fadeIn(300);
      $(target).addClass('active-tab');
      var windowWidth = $(window).width();
      if (windowWidth <= 700) {
        $('html, body').animate({
          scrollTop: $('.tabs-content').offset().top
        }, 1000);
      }
    });
  }

  var v = window.productVariable;
  if (v == "index") {
    $("#tabone").trigger("click");
  }else if (v == "diabetes") {
    $("#tabone").trigger("click");
  }else if (v == "urologicalcatheters") {
    $("#tabtwo").trigger("click");
  }else if (v == "woundcare") {
    $("#tabthree").trigger("click");
  }else if (v == "incontinence"){
    $("#tabfour").trigger("click");
  }else if (v == "mednutrition"){
    $("#tabfive").trigger("click");
  }else if (v == "ostomy"){
    $("#tabsix").trigger("click");
  }else if (v == "stockings"){
    $("#tabseven").trigger("click");
  }

</script>
