<!--Testimonials area-->
<section class="testimonials-area sp-one">
  <div class=" ms-round">
    <!-- Testimonials Slider -->
    <div class="master-slider slider" id="testimonials-one">
      <div class="ms-slide">
        <img class="img-circle" src="css/masterslider/style/blank.gif" data-src="images/resource/1.png" alt="Avatar">
        <div class="ms-info">
          <div class="slide-content">"I had a great experience with Acentus, they always listened very carefully,
            <br> was very encouraging and gave good advice. I would definitely recommend them to
            <br>everyone having problems."</div>
          <header class="slide-header">
            <h4>Thomas Alison (Florida USA)</h4>
          </header>
        </div>
      </div>

      <div class="ms-slide">
        <img class="img-circle" src="css/masterslider/style/blank.gif" data-src="images/resource/2.png" alt="Avatar">
        <div class="ms-info">
          <div class="slide-content">"I had a great experience with Acentus, they always listened very carefully,
            <br> was very encouraging and gave good advice. I would definitely recommend them to
            <br>everyone having problems."</div>
          <header class="slide-header">
            <h4>Thomas Alison (Florida USA)</h4>
          </header>
        </div>
      </div>

      <div class="ms-slide">
        <img class="img-circle" src="css/masterslider/style/blank.gif" data-src="images/resource/3.png" alt="Avatar">
        <div class="ms-info">
          <div class="slide-content">"I had a great experience with Acentus, they always listened very carefully,
            <br> was very encouraging and gave good advice. I would definitely recommend them to
            <br>everyone having problems."</div>
          <header class="slide-header">
            <h4>Thomas Alison (Florida USA)</h4>
          </header>
        </div>
      </div>

      <div class="ms-slide">
        <img class="img-circle" src="css/masterslider/style/blank.gif" data-src="images/resource/4.png" alt="Avatar">
        <div class="ms-info">
          <div class="slide-content">"I had a great experience with Acentus, they always listened very carefully,
            <br> was very encouraging and gave good advice. I would definitely recommend them to
            <br>everyone having problems."</div>
          <header class="slide-header">
            <h4>Thomas Alison (Florida USA)</h4>
          </header>
        </div>
      </div>

      <div class="ms-slide">
        <img class="img-circle" src="css/masterslider/style/blank.gif" data-src="images/resource/5.png" alt="Avatar">
        <div class="ms-info">
          <div class="slide-content">"I had a great experience with Acentus, they always listened very carefully,
            <br> was very encouraging and gave good advice. I would definitely recommend them to
            <br>everyone having problems."</div>
          <header class="slide-header">
            <h4>Thomas Alison (Florida USA)</h4>
          </header>
        </div>
      </div>

    </div>
    <!-- End of Testimonials Slider -->
    <div class="ms-staff-info" id="staff-info"> </div>
  </div>

</section>
<!--End Testimonials area-->