<!-- Why-choose-area -->
<section class="info-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12 full-img">
        <div class="img-holder">
          <img src="images/resource/why_choose_acentus.png" alt="Why choose acentus?">
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 property-highlight-text">
        <div class="right-side">
          <div class="section-title">
            <h2>Why Choose Acentus?</h2>
            <p>The Acentus team has been providing vital medical supplies to people with special healthcare needs living at home for over 20 years. Throughout that time, there have been many changes in healthcare and how medical supplies are covered by insurance. Despite these dramatic changes, Acentus's connecting and caring culture has remained, dedicated to providing superior customer service. Its our advantage in a field of "Wall Street-owned" competitors.</p>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <ul>
                <li class="font15"><i class="fa fa-check-square-o" aria-hidden="true"></i>A connecting & caring company culture</li>
                <li class="font15"><i class="fa fa-check-square-o" aria-hidden="true"></i>Medicare participating provider</li>
                <li class="font15"><i class="fa fa-check-square-o" aria-hidden="true"></i>Medicaid & most commercial plans accepted</li>
                <li class="font15"><i class="fa fa-check-square-o" aria-hidden="true"></i>Accredited by The Joint Commission</li>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <ul class="left-side">
                <li class="font15"><i class="fa fa-check-square-o" aria-hidden="true"></i>Bilingual field & support staff</li>
                <li class="font15"><i class="fa fa-check-square-o" aria-hidden="true"></i>Access to 20,000 brand name products</li>
                <li class="font15"><i class="fa fa-check-square-o" aria-hidden="true"></i>No annoying phone trees to navigate</li>
                <li class="font15"><i class="fa fa-check-square-o" aria-hidden="true"></i>Product education and CE credit programs</li>
              </ul>
            </div>
          </div>
          <div class="btn-holder">
            <a href="contact-us">Contact Us</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--end Why-choose-area-->
